@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Poppins:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

a, button{
    font-weight: 400;
    
}
*:focus {
    outline: none;
}

.companyName{
    font-family: 'Lobster', cursive;
    margin-left: 2rem;
}


.scandiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: bisque; */
    margin-top: .3rem;
    margin-bottom: .3rem;
    height: auto;
    border-radius: 10px;
    padding: 1rem;
    /* background-color: #405cf5 !important; */
}


.previewDiv{
    height: 100% ;
    width: 100% ;
    
    
}

#preview{
    /* background-color: aqua; */
    height: 80%!important;
    width: 100% !important;
}


.controlsDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: .5rem;
    margin: 0;
}

.scanresultdiv{
    min-height: 45vh;
    /* background-color: aqua; */
    border-radius: 10px;   
}
#formDiv{
    border-radius: 10px;   
}

.qrResultDiv{
    /* background-color: aqua; */
    padding: .7rem;
 
}
.formresult{
    border-radius: 10px;
}

.control {
  appearance: button;
  backface-visibility: hidden;
  border-radius: 25px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding:  0 ;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  background-color: #0275d8;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


/* Styles for transaction report div */
#reportDiv{
    height: auto;
    width: 100%;
    border-radius: 10px;
}

#flashlight-icon{
    display: none;
}

.container-fluid{
    max-width: 1400px;
}

.titleDiv{
    width: 100%;
}

input{
    border-radius: 25px;
    border: 2px solid white;
    padding: 15px; 
    height: 11px;
}
#reportsContainer{
    height: auto;
}

.reportsPreview{
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav-item{
      padding: .4rem;
      margin: .1rem .5rem;
      width: 10rem;
      text-align: center;
      border-radius: 25px;
  }
  .navbar-nav{
      margin-left: auto;
      margin-right: 1rem;
  }
  #logout{
      margin-right: 2rem;
  }

  /* #location, #qtyStored{
    width: 25%;
  } */



  
    #logout{
        margin-right: 0;
    }
    .companyName{
        font-family: 'Lobster', cursive;
        margin-left: 0;
    }

    @media (max-width:950px) and (min-width:765px){
        .nav-item{
            
            padding: .2rem;
            margin: .1rem .3rem;
            width: 7rem;
            text-align: center;
            border-radius: 25px;
            font-size: .8rem;
        }
    }

  @media (min-width:767px) {
      .previewDiv{
          height: 500px;
          width: 700px;
      }
      .scandiv{
          max-height: 600px;
      }
  }

  

  @media (max-width:767px){
    .nav-item{
        padding: .3rem;
        margin: .1rem .3rem;
        text-align: left;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: 550;
        width: 45%;
        text-indent: 1.5rem;
        
    }
    .companyName{
        font-family: 'Lobster', cursive;
        margin-left: 0;
    }
    
    .navbar-nav{
        align-items: left;
    }
    #logout{
        margin-right: 0;
       
    }

  }
  
  /* #reset{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 17px; 
    height: 11px;
    width: 15%;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
} */


#qrResult{
    width: 50%;
    
} 

